{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}

{% block title %}海事船舶管理系统 - file{% endblock %}

{% block page_content %}

<ul class="posts">
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=file.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ file.author.gravatar(size=40) }}">
            </a>

        </div>
        <div class="post-content">
            <div class="post-date"> <b> {{ file.author.username }}</b>  {{ moment(file.timestamp).fromNow() }}</div>
            <div class="post-author"><h4><b><a href="{{ url_for('.user', username=file.author.username) }}">文件名称:{{ file.file_name }}</a></b></h4></div>
            <div>
                <h5><b>关键词列表及权重</b></h5>
                <h4><b>{{ file.keyword1 }} {{ file.keyword_weight1 }}</b></h4>
                <h4><b>{{ file.keyword2 }} {{ file.keyword_weight2 }}</b></h4>
                <h4><b>{{ file.keyword3 }} {{ file.keyword_weight3 }}</b></h4>
                <h4><b>{{ file.keyword4 }} {{ file.keyword_weight4 }}</b></h4>
                <h4><b>{{ file.keyword5 }} {{ file.keyword_weight5 }}</b></h4>
            </div>

            <div>
                <h5><b>分词</b></h5>
                {{ file.seg }}
            </div>

            <div class="post-footer">
                {% if current_user == file.author %}
                <a href="{{ url_for('.edit', id=file.id) }}">
                    <span class="label label-primary">修改关键字</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=file.id) }}">
                    <span class="label label-danger">修改关键字 [Admin]</span>
                </a>
                {% endif %}
                    <a href="{{ url_for('.downloads_file', id=file.id) }}">
                        <span class="label label-default">下载文档</span>
                    </a>
            </div>
        </div>
    </li>
</ul>

{% endblock %}
