{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}海事船舶管理系统 - keyword_search{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>关键字检索</h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}>文件列表</li>
    </ul>
{#    {% include '_files.html' %}#}
    {% if files %}
    {% include '_files.html' %}
    {%  endif %}
{#    {% endfor %}#}

</div>
{% if pagination %}

{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

